<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="DailyAutomationSuite">
    <test name="AutomationTest">
        <classes>
            <!-- <class name="com.example.selenium_automation.DailyAutomationTest"/> -->
            <class name="com.example.selenium_automation.NaukariMe"/>
            
        </classes>
    </test>
</suite>
